.parallax {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxName {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 72px;
    color: #FFFFFF;
    border: 5px solid #2A2A2A;
}

.intro-blurb {
    background-color: #2A2A2A;
    color: #FFFFFF;
}